.footer-section{
    padding: 3.15rem;
    background-color: $color-primary;
    margin: 0 auto;

    &--logo__img2{
        width: 118px;
    }
    &--logo__img1{
        width: 1.7rem;
        height: 1.5rem;
    }
    &--containner{
        display: flex;
        justify-content: space-around;
    }
    &--header{
        font-size:0.9rem ;
        color: $color-white;
        font-weight: 700;
        font-family: $Main-font;
        margin-bottom: 1.15rem;
    }
    &__ul{
        list-style: none;
        color: $color-white--primary;
        font-size: 0.7rem;
        font-weight: 300;
    }
    &--list{
        margin-bottom: 13px;
    }
    &--social__containner{
        margin-left: 7rem;
        display: inline-block;
        color: $color-white--primary;
    }
    &--Icon{
        font-size: 1rem;
        margin-right: 1.8rem;
        margin-bottom: 1.5rem;
    }
    &--copyRight{
        display: flex;
        align-items: center;
        font-size: 0.8rem;
        font-weight: 400;
        &__Icon{
            margin-right: 8.5px;
        }
    }
}
//MEDIA QUERY
@media (max-width:56.25em){
    .footer-section{
        &--logo__img2{
            width: 100px;
        }
        &--logo__img1{
            width: 1.7rem;
            height: 2rem;
        }
    }
    @media (max-width:56.25em){
        .footer-section{
            padding: 3rem 1rem;

            &--logo{
                display: flex;
                align-items: center;
                justify-content: center;
            }
            &--content{
               margin-top: 2rem;
            }
            &--logo__img2{
                width: 118px;
            }
            &--logo__img1{
                width: 2rem;
                height: 2.3rem;
               
            }
            &--social__containner{
                margin-left: 4rem;
            }
        }
    }
}